[mysqld]
# Custom MySQL server configuration

# Bind address
bind-address = 0.0.0.0

# Default authentication plugin (MySQL 8)
default-authentication-plugin=mysql_native_password

# Other custom configurations
# max_connections = 150
# sql_mode = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
